<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/styles/postgrievance.css"> 
    <link rel="stylesheet" href="../static/styles/navbar.css">
    <script src="../static/scripts/navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

       

    <img src="../static/images/bgvector2.png" id="bgimg">
    <nav class="navbar">
      <div class="logo">
          <img src="../static/images/Logo2.png">
          <p1>Grievance &nbsp</p1> <p2>Portal</p2>
      </div>
      <a href="#" class="toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
      <div class="navbar-links">
          <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="index">Logout</a></li>
          </ul>
      </div>
  </nav>
  <div class="container">
    <div class="title1">Post a grievance</div>
    <div class="space"></div>
    <form action="addGrievance" method="post">
      <div class="input-box">
        <div class="col1">
          <!-- <div class="title">Application Details</div>
          <div class="space"></div>
          <h4>First Name</h4>
          <input type="text" name="firstName" placeholder="Enter First Name" required>
          <div class="space"></div>
          <h4>Aadhar Number</h4>
          <input type="number" name="aadhar" placeholder="Enter Aadhar Number" required> -->
          <!-- <h4>Email</h4>
          <input type="email" name="email" placeholder="Enter Your Email" required> -->
          <!-- <div class="space"></div> -->
          <div class="title">Complain Details</div>
          <div class="space"></div>
          <h4>Department</h4>
          <select name="department">
            <% for(var i = 0; i<result.length; i++){ %>
              <option value= "<%= result[i].department_name%>"><%= result[i].department_name%></option>
            <%}%>
          </select>
          <!-- <input type="text" name="department" placeholder="Select Department" required> -->
          <div class="space"></div>
          <h4>Application Details</h4>
          <input type="text" name="details" id="details">
          <div class="space"></div>
          <h4>Upload Images</h4>
          <div class="space"></div>
          <h4>Upload Document</h4>
          <div class="space"></div>
          <!-- <input type="file" name="upload" id="upload" placeholder="Upload Files" required> -->
          <div class="space"></div>
          <div class="title">Address Details</div>
          <h4>Enter Address</h4>
          <input type="hidden" id="address" name="address">
          <div class="autocomplete-container" id="autocomplete-container"></div>

          <div class="space"></div>
          <h4>State</h4>
          <input type="text" id="state" name="state" placeholder="Select State" required>
          <div class="space"></div>
         
         
        <div class="col2">
          <div class="space"></div>
          <!-- <h4>Last Name</h4>
          <input type="text" name="lastName" placeholder="Enter Last Name" required>
          <div class="innerRow">
            <div class="innercol1">
              <h4>Age</h4>
              <input type="number" name="ageNumber" placeholder="Enter Your Age" required>
            </div>
            <div class="innercol2">
              <h4>Gender</h4>
                <select name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </div>
          </div>
          <div class="space"></div>
          <h4>Mobile Number</h4>
          <input type="number" name="mobile" placeholder="Enter Mobile Number" required>
          <div class="bigspace"></div> -->
          <!-- <h4>Grievance Category</h4>
          <input type="text" name="grievanceCategory" placeholder="Select Grievance Category" required> -->
          <div class="bigspace2"><br><br></div>
          <input type="file" name="uploadImage" id="upload1" placeholder="Upload Files">
          
          <input type="file" name="uploadImage" id="upload2" placeholder="Upload Files">
          <div class="space"><br></div>
          <h4>District</h4>
          <input type="text" id="district"name="district" placeholder="Select District" required>
          <div class="space"></div>
    
          <h4>Pincode</h4>
          <input type="text" id="pincode" name="pincode" placeholder="Enter Pincode" required>
          <div class="space"></div>
          <input type="submit" name="register" id="register" value="Post Grievance">
        </div>
      </div>
    </form>
  </div>
  </body>
  <script src="../static/scripts/index.js" defer></script>

</html>

