<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="../static/styles/userLogin.css"> 
    <link rel="stylesheet" href="../static/styles/navbar.css">
    <script src="../static/scripts/navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <img src="../static/images/bgvector1.png" id="bgimg">
    <nav class="navbar">
      <div class="logo">
          <img src="../static/images/Logo2.png">
          <p1>Grievance &nbsp</p1> <p2>Portal</p2>
      </div>
      <a href="#" class="toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
      <div class="navbar-links">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="index">logout</a></li>
          </ul>
      </div>
  </nav>
  <div class="row">
    <div class="container">
      <form action="transfer_confirm" method="post">
        <div class="title">Transfer Department</div>
        
        <div class="input-box">
          <h4>Complain ID</h4>
          <div class="field"><%= com_id%></div>
          <div class="space"></div>
                   

          <input type="hidden" id="custId" name="com_id" value=<%= com_id %>>

      
          <h4>Department Name</h4>
          <select name="department">
            <% for(var i = 0; i<result.length; i++){ %>
              <option value="<%= result[i].department_name%>"><%= result[i].department_name%></option>
            <%}%>
          </select>
          <div class="space"></div>
          <h4>Officer level</h4>
          <input type="text" name="level" placeholder="Enter officer level" required>
          <div class="space"></div>
          <h4>Block ID</h4>
          <input type="text" name="block_id" placeholder="Enter Block ID" required>
          <div class="space"></div>
          <input type="submit" name="Login" id="Login" value="Transfer">
          <div class="space"></div>
        </div>
      </form>
        
    </div>
  </div>
  </body>
</html>

