<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\styles\navbar.css">
        <link rel = "stylesheet" href="..\static/styles/userHome.css">
        <script src="../static/scripts/navbar.js" defer></script>
        <title>Grievance Portal</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="..\static/images/Logo2.png">
                <p1>Grievance &nbsp</p1> <p2>Portal</p2>
            </div>
            <a href="#" class="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col1">
                <!-- <div class="box1">
                    <H1>Solutions To All Your Grievances <br> In One Place.</H1>
                    <p>We will take your grievance to the desk of concerned officer and see it resolved.</p>
                    <button type="button" class="learnMore">Learn More</button>
                </div> -->
                <a href="postgrievanceRural"><div class="box2">
                    <p>Post a new Grievance</p>
                    <img src="../static/images/addGrievance.png">
                </div></a>
                <a href="trackgrievance"><div class="box3">
                    <p>Track Grievance</p>
                    <img src="../static/images/trackGrievance.png">
                </div></a>
            </div>
            <div class="col2">
                <h4>YOUR DASHBOARD</h4>
                <div class="content">
                    <div class="filters">
                        <select>
                            <option value="status">Status</option>
                            <option value="pending">Pending</option>
                            <option value="solved">Solved</option>
                        </select>
                        <input type="text" name="search" placeholder="Search">
                    </div>
                    <table class="table">
                        <tr class="toprow">
                            <td width="22%"><p>Grievance Number</p></td>
                            <td width="10%"><p>Date Registered</p></td>
                            <td width="30%"><p>Department Name</p></td>
                            <td width="10%"><p>Status</p></td>
                            <td width="15%"><p>Track Grievance</p></td>
                            <td width="15%"><p>Submit Feedback</p></td>
                        </tr>
                        
                        <tr class="data">
                            <td width="18%"><p id="greivanceNumber">1111111111111111</p></td>
                            <td width="16%"><p id="dateRegistered">DD-MM-YYYY</p></td>
                            <td width="25%"><p id="department">Department of Something</p></td>
                            <td width="12%"><button type="button" id="status">Pending</button></td>
                            <td width="15%"><a href="#"><img src="../static/images/trackGrievance.png"></a></td>
                            <td width="10%"><a href="#"><img src="../static/images/feedback.png"></a></td>
                        </tr>
                        <tr class="data">
                            <td width="18%"><p id="greivanceNumber">1111111111111111</p></td>
                            <td width="16%"><p id="dateRegistered">DD-MM-YYYY</p></td>
                            <td width="25%"><p id="department">Department of Something with a really long name.</p></td>
                            <td width="12%"><button type="button" id="status">Pending</button></td>
                            <td width="15%"><a href="#"><img src="../static/images/trackGrievance.png"></a></td>
                            <td width="10%"><a href="#"><img src="../static/images/feedback.png"></a></td>
                        </tr>
                        
                        </table>        
                </div>
            </div>
        </div>
    </body>
</html>