@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SSRegular';  
}

html, body{
  margin: 0;
  padding: 0;
  display: grid;
  
}

#bgimg{
  position: absolute;
  top: 200px;
  left: 50%;
  position: fixed;
  z-index: -1;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  height: 1500px;
  width: 90%;
  padding: 25px 30px;
  margin-left: 5rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.container #left{
    float: left;
    height: 100%;
    width: 70%;
    overflow: auto;
    max-width: 800px;
}

.container #right{
    float: left;
    height: 100%;
    width: 40%;
    overflow: auto;
    margin-left: 3rem;
}

.container .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container .title:before{
    content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container form{
    width: 100%;
}

.container .title1{
  color: #0E4A67;
  font-family: SSBold;
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.container form .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container .title1:before{
  content: '';
  position: absolute;
  height: 10px;
  width: 50px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container h4{
  font-family: SSRegular;
  color: #37677E;
  margin-top: 2rem;
}

.container h4 a{
  text-decoration: none;
  font-family: SSRegular;
  color: #38B6FF;
}

.container .input-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.container form .input-box .col1{
    width: 30%;
}

.container form .input-box .col2{
    margin-top: 3.55rem;
    margin-left: 12rem;
    width: 30%;
}

.container form .input-box .col2 .innerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .65rem;
}

.container form .input-box .innerRow input{
    width: 100%;
}

.container form .input-box .innerRow .innercol2 h4{
    margin-left: 2rem;
}
.container form .input-box .innerRow select{
  width: 200%;
  height: 45px;
  margin-left: 2rem;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box h4{
  font-family: SSRegular;
  color: #0E4A67;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
}


.container .input-box .field{
  width: 210%;
  height: 45px;
  
  background-color: white;
  border: 2px solid #207198;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field1.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container .input-box .col2 .statusbar .status .field2.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container .input-box .col2 .statusbar .status .field3.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container #widefield{
  width: 340%;
  max-width: 800px;
}

.container .input-box .col2{
    margin-top: 2.5rem;
    margin-left: 1.5rem;
}

.container .input-box .col2 .statusbar{
  display: flex;
  flex-direction: row;
}

.container .input-box .col2 .statusbar .statusbarcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5px;
  height: 210px;
  margin-right: 2.5rem;
  background-color: #777;
  /* border: 1.5px solid #777; */
  border-radius: 10px;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle1{
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: 1rem;
  border-radius: 50%;
  background-color: #777;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle1.animateCircle{
  background-color: #6780F0;
  transition: all 0.75s ease;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle2.animateCircle{
  background-color: #6780F0;
  transition: all 1.25s ease;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle3.animateCircle{
  background-color: #6780F0;
  transition: all 2s ease;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle2{
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: 5.5rem;
  border-radius: 50%;
  background-color: #777;
}

.container .input-box .col2 .statusbar .statusbarcontainer .circle3{
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: 10rem;
  border-radius: 50%;
  background-color: #777;
}

.container .input-box .col2 .statusbar .statusbarcontainer #statusbarbg{
  border-radius: 10px;
  width: 100%;
  height: 55%;
  background-color: #6780F0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 2s ease;
}

.container .input-box .col2 .statusbar .statusbarcontainer #statusbarbg.animate{
  transform: scaleY(1);
}

.container .input-box .col2 .statusbar .status .field1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field3{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}

.container #right form input{
  z-index: 1;
  width: 100%;
  height: 45px;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container #right input[type="submit"]{
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback{
  z-index: 1;
  width: 100%;
  height: 45px;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.feedback{
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback:hover{
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}
.container #right input[type="submit"]:hover{
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container #right #tallField{
  height: 90px;
}


.container .space{
  margin: 35px 0 20px 0;
}

.container .space05{
  margin: 7px 0 7px 0;
}

.container .space2{
    margin: 60px 0 20px 0;
}

.container .space3{
    margin: 80px 0 20px 0;
}

.container .bigspace{
    margin: 98px 0 20px 0;
}

.container .largespace{
    margin: 394px 0 20px 0;
}

.invis{
  display: none;
}



/*To future naman - Feedback starts here */

.feedback_window{
  display: none;
    top: 12%;
    background-color: white;
    padding: 50px;
    width: 50%;
    left: 25%;
    position: fixed;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 5px rgba(118, 172, 234, 0.25);
}

.blocker{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background: rgba(0,0,0,0.5);
  z-index: 50;
}

.formcontainer{
  display: flex;
  flex-direction: row;
}

.formcontainer .left{
  width: 50%;
}

.formcontainer .right{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}


.rate1 {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate1:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate1:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate1:not(:checked) > label:before {
  content: '★ ';
}
.rate1 > input:checked ~ label {
  color: #ffc700;    
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate2 {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate2:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate2:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate2:not(:checked) > label:before {
  content: '★ ';
}
.rate2 > input:checked ~ label {
  color: #ffc700;    
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rate3 {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate3:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate3:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate3:not(:checked) > label:before {
  content: '★ ';
}
.rate3 > input:checked ~ label {
  color: #ffc700;    
}
.rate3:not(:checked) > label:hover,
.rate3:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate3 > input:checked + label:hover,
.rate3 > input:checked + label:hover ~ label,
.rate3 > input:checked ~ label:hover,
.rate3 > input:checked ~ label:hover ~ label,
.rate3 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#textinput{
  z-index: 1;
  width: 250%;
  height: 45px;
  margin-left: -19rem;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

#submit{
  z-index: 1;
  width: 250%;
  height: 45px;
  margin-left: -19rem;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

#submit{
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submit:hover{
  letter-spacing: 1px;
}