@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SSRegular';  
}

html, body{
  margin: 0;
  padding: 0;
  display: grid;
  
}

#bgimg{
  position: absolute;
  top: 200px;
  left: 50%;
  position: fixed;
  z-index: -1;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.container{
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 90%;
  padding: 25px 30px;
  margin-left: 5rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.container #left{
    float: left;
    height: 100%;
    width: 70%;
    overflow: auto;
}

.container #right{
    float: left;
    height: 100%;
    width: 40%;
    overflow: auto;
    margin-left: 3rem;
}

.container .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container .title:before{
    content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}


.container .title1{
  color: #0E4A67;
  font-family: SSBold;
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.container form .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container .title1:before{
  content: '';
  position: absolute;
  height: 10px;
  width: 50px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
}

.container h4{
  font-family: SSRegular;
  color: #37677E;
  margin-top: 2rem;
}

.container h4 a{
  text-decoration: none;
  font-family: SSRegular;
  color: #38B6FF;
}

.container .input-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.container form .input-box .col1{
    width: 30%;
}

.container form .input-box .col2{
    margin-top: 3.55rem;
    margin-left: 12rem;
    width: 30%;
}

.container form .input-box .col2 .innerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .65rem;
}

.container form .input-box .innerRow input{
    width: 100%;
}

.container form .input-box .innerRow .innercol2 h4{
    margin-left: 2rem;
}
.container form .input-box .innerRow select{
  width: 200%;
  height: 45px;
  margin-left: 2rem;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box h4{
  font-family: SSRegular;
  color: #0E4A67;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
}


.container .input-box .field{
  width: 210%;
  height: 45px;
  
  background-color: white;
  border: 2px solid #207198;
  border-radius: 10px  ;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field1.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container .input-box .col2 .statusbar .status .field2.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container .input-box .col2 .statusbar .status .field3.active{
  border-radius: 5px;
  background-image: linear-gradient(to right, #6780F0,#38B6FF);
  outline: none;
  border: none;
  color: white;
}

.container #widefield{
  width: 300%;
  max-width: 780px;
}

.container .input-box .col2{
    margin-top: 2.5rem;
    margin-left: 10rem;
}

.container form input{
    z-index: 1;
    width: 100%;
    height: 45px;
    outline: auto;
    outline-color: #207198;
    border-radius: 5px;
    text-align: center;
    outline-width: 1.43578px;
    font-size: 16px;
    border: none;
  }

.container #right input[type="submit"]{
    background-image: linear-gradient(to right, #6780F0,#38B6FF);
    outline: none;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .container #right input[type="submit"]:hover{
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #6780F0,#38B6FF);
  }

  .container #right #tallField{
    height: 90px;
  }

.container .input-box .col2 .statusbar .statusbarcontainer .circle3{
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: 10rem;
  border-radius: 50%;
  background-color: #777;
}

.container .input-box .col2 .statusbar .statusbarcontainer #statusbarbg{
  border-radius: 10px;
  width: 100%;
  height: 55%;
  background-color: #6780F0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 2s ease;
}

.container .input-box .col2 .statusbar .statusbarcontainer #statusbarbg.animate{
  transform: scaleY(1);
}

.container .input-box .col2 .statusbar .status .field1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}

.container .input-box .col2 .statusbar .status .field3{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250%;
  height: 45px;
  background-color: white;
  border-bottom: 2px solid #207198;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  padding: 12px;
}


.container .space{
  margin: 35px 0 20px 0;
}

.container .space2{
    margin: 60px 0 20px 0;
}

.container .space3{
    margin: 80px 0 20px 0;
}

.container .bigspace{
    margin: 98px 0 20px 0;
}

.container .largespace{
    margin: 394px 0 20px 0;
}

.container .invis{
    display: none;
}


